.field {
  margin: 15px 0 15px;
}

.input:focus {
  color: black;
  border-bottom: 1px solid #208aec !important;
  box-shadow: 0 1px 0 0 #208aec !important;
}

.error {
  font-size: .8rem;
  color: red;
}