.componentContainer {
  margin-top: 20px;
}

.title {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: -5px;
}

.titleSeparator {
  width: 200px;
}

.subTitle {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  margin-top: -6px;
}

.cardsContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.studentName {
  margin: 0;
}

.studentHobbiesTitle {
  font-size: 0.7rem;
  font-weight: 300;
  margin: 0;
  color: rgba(0,0,0,.6);
}

.studentHobbies {
  font-size: 0.8rem;
  font-weight: 300;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.addStudentButton {
  position: fixed;
  top: calc(100% - 76px);
  left: calc(100% - 76px);

  // large size
  @media screen and (min-width: 993px) {
    left: calc(100% - 100px);
    top: calc(100% - 100px);
  }
}