.componentContainer {
  margin-top: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.addStudentButton {
  position: fixed;
  top: calc(100% - 76px);
  left: calc(100% - 76px);

  // large size
  @media screen and (min-width: 993px) {
    left: calc(100% - 100px);
    top: calc(100% - 100px);
  }
}